<div class="container mx-auto">
  <header class="grid grid-cols-2 py-8 gap-8 justify-between">
    <h1 class="text-5xl">Pokemons</h1>
    <div class="text-right">
      <button
        class="text-xl font-bold bg-blue-500 text-white rounded p-4 mb-4 w-52"
        [ngClass]="{'bg-gray-300': favorites.length === 0}"
        (click)="toggleFavorites()"
        [disabled]="favorites.length === 0"
      >
        Cart  ({{ favorites.length }}) {{ showFavorites ? "&#x25B2;" : "&#x25BC;" }}
      </button>
      <div class="relative">
        <div class="absolute top-0 left-0 w-full bg-white shadow-xl">
          <ng-container *ngIf="showFavorites">
            <app-pokemons-list
              *ngIf="favorites.length > 0"
              [pokemons]="filteredFavorites"
              (handleSelect)="removeFavorite($event)"
              (handleSearch)="filterFavorites($event)"
              btnLabel="🗑️"
            >
            </app-pokemons-list>
          </ng-container>
        </div>
      </div>
    </div>
  </header>

  <div class="">
    <section>
      <ng-container *ngIf="pokemons.length > 0">
        <app-pokemons-list
          [pokemons]="filteredPokemons"
          (handleSelect)="addFavorite($event)"
          (handleSearch)="filterPokemons($event)"
          btnLabel="Add to Cart"
        >
        </app-pokemons-list>
      </ng-container>
    </section>
    <!-- <section>
      <h2>Favorite Pokemons</h2>
      <app-pokemons-list [pokemons]="favoritePokemons" (removeFavorite)="removeFavorite($event)"></app-pokemons-list>
    </section> -->
  </div>
</div>
