<header class="p-4 bg-blue-600">
  <nav>
    <ul class="flex items-center justify-between gap-2 m-0">
      <li>
        <a routerLink="/docs" routerLinkActive="activenav" class="p-2 bg-white rounded hover:bg-slate-300 hover:text-black">Docs</a>
      </li>
      <li>
        <a routerLink="/pokemons" routerLinkActive="activenav" class="p-2 bg-white rounded hover:bg-slate-300 hover:text-black">Pokemon App</a>
      </li>
    </ul>
  </nav>
</header>
<main class="container mx-auto mb-24">
  <router-outlet></router-outlet>
</main>
