<div class="container mx-auto max-h-full">
  <header class="grid grid-cols-2 gap-8 justify-between">
    <h1 class="text-5xl">Pokemons</h1>
    <div class="text-right">
      <button
        class="text-xl font-bold bg-blue-500 text-white rounded p-4 my-8 w-52"
        [ngClass]="{'bg-gray-300': cart.length === 0}"
        (click)="toggleCart()"
        [disabled]="cart.length === 0"
      >
        Cart  ({{ cart.length }}) {{ showCart ? "&#x25B2;" : "&#x25BC;" }}
      </button>
      <div class="relative z-20">
        <div class="absolute top-0 left-0 w-full bg-white shadow-xl">
          <div [ngClass]="{'hidden': !showCart, 'inherit': 'showCart'}">
            <app-pokemons-list
              *ngIf="cart.length > 0"
              [pokemons]="filteredCart"
              (handleCartAction)="removeFavorite($event)"
              (handleSearch)="filterCart($event)"
              btnLabel="🗑️"
            >
            </app-pokemons-list>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="grid grid-cols-2 gap-24 relative">
    <section class="z-20 relative">
      <ng-container *ngIf="pokemons.length > 0">
        <app-pokemons-list
          [pokemons]="filteredPokemons"
          (handleCartAction)="addFavorite($event)"
          (handleSearch)="filterPokemons($event)"
          (handleSelect)="selectPokemon($event)"
          btnLabel="Add to Cart"
        >
        </app-pokemons-list>
      </ng-container>
    </section>
    <section class="z-10 relative">
      <router-outlet>
        <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center z-0">
          <p>Select a Pokemon from the list to display the details</p>
        </div>
      </router-outlet>
    </section>
  </div>
</div>
