<div class="text-left">
  <p class="p-8 bg-gray-200">
    <label class="flex gap-4">
      <span class="p-2">Search:</span>
      <input
        type="text"
        placeholder="Filter while you type the name of a Pokemon"
        [(ngModel)]="searchName"
        class="flex-1 p-2"
        (keydown)="onKeydown($event)"
      />
    </label>
  </p>
  <ul>
    <li
      *ngFor="let pokemon of pokemons"
      class="flex items-center justify-between gap-4 border-t border-b px-4 py-2"
      (click)="handleSelect.emit(pokemon)"
    >
      <img [src]="pokemonImageUrl(pokemon)" alt="pokemon.name" />
      <p class="flex-1">
        <strong>{{ pokemon.name }}</strong
        ><br />
        ({{ calculateScore(pokemon) }})
      </p>
      <button (click)="handleCartAction.emit(pokemon)">{{ btnLabel }}</button>
    </li>
  </ul>
</div>
